/* @section Utilities

@use 'config'

/* Display fonts

%display
    font-family: config.$font-display
    text-transform: uppercase

/* Grid
%grid
    display: grid

/* Flexbox

%flex
    display: flex

/* Metadata

.meta
    font:
        family: config.$font-monospace
        size: .8em
    
    color: config.$meta-light
    
    @media (prefers-color-scheme: dark)
        color: config.$meta-dark

/* Lists

.list-unstyled
    list-style: none
    padding: 0

.list-meta
    @extend .list-flex
    gap: .5em

.list-page li
    margin-bottom: 1.25em

.list-flex
    @extend .list-unstyled
    @extend %flex
    margin: 0
    flex-wrap: wrap
    gap: 1em



