{{- if .Site.Params.widgets.blogroll }}
<div class="widget-blogroll widget">
	<h4 class="widget-blogroll__title widget__title">Blogroll</h4>
	<div class="widget-blogroll__content widget__content">
        {{- with .Site.Params.widgets.blogroll.waitbutwhy }}
		<div class="widget-blogroll__item widget__item">
			<a class="widget-blogroll__link widget__link" title="Wait But Why" href="https://{{ . }}.com/">
				<!-- {{ partial "svg/email.svg" (dict "class" "widget-blogroll__link-icon") }} -->
				<span>Wait But Why</span>
			</a>
		</div>
		{{- end }}
	</div>
</div>
{{- end }}