{{- if .Site.Params.widgets.social }}
<div class="widget-social widget">
	<h4 class="widget-social__title widget__title">Follow</h4>
	<div class="widget-social__content widget__content">
		{{- with .Site.Params.widgets.social.rss }}
		<div class="widget-social__item widget__item">
			<a class="widget-social__link widget__link btn" title="RSS" href="{{ . }}">
				<!-- {{ partial "svg/email.svg" (dict "class" "widget-social__link-icon") }} -->
				<span>RSS</span>
			</a>
		</div>
		{{- end }}
		{{- with .Site.Params.widgets.social.newsletter }}
		<div class="widget-social__item widget__item">
			<a class="widget-social__link widget__link btn" title="Newsletter" href="https://{{ . }}.substack.com">
				<!-- {{ partial "svg/email.svg" (dict "class" "widget-social__link-icon") }} -->
				<span>Newsletter</span>
			</a>
		</div>
		{{- end }}
		{{- with .Site.Params.widgets.social.email }}
		<div class="widget-social__item widget__item">
			<a class="widget-social__link widget__link btn" title="Email" href="mailto:{{ . }}">
				<!-- {{ partial "svg/email.svg" (dict "class" "widget-social__link-icon") }} -->
				<span>Email</span>
			</a>
		</div>
		{{- end }}
		{{- with .Site.Params.widgets.social.instagram }}
		<div class="widget-social__item widget__item">
			<a class="widget-social__link widget__link btn" title="Instagram" rel="noopener noreferrer" href="https://www.instagram.com/{{ . }}">
				<!-- {{ partial "svg/instagram.svg" (dict "class" "widget-social__link-icon") }} -->
				<span>Instagram</span>
			</a>
		</div>
		{{- end }}
		{{ range .Site.Params.widgets.social.custom }}
		<div class="widget-social__item widget__item">
			<a class="widget-social__link widget__link btn" title="{{ .title }}" {{ with .rel | default "noopener noreferrer" }} rel="{{ . }}"{{ end }} href="{{ .url }}">
				{{- if .icon }}
					{{ partial .icon (dict "class" "widget-social__link-icon") }}
				{{- end }}
				<span>{{ .title }}</span>
			</a>
		</div>
		{{ end }}
	</div>
</div>
{{- end }}