// FONTS
// https://modernfontstacks.com/
$font-monospace: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
$font-body: $font-monospace;
$font-display: $font-monospace;

// Colors
$bg-light: white;
$bg-dark: black;
$text-light: black;
$text-dark: white;
$meta-light: #647382;
$meta-dark: #d4d9dd;
$grey-light: #d4d9dd;
$grey-dark: #808080;

// Breakpoints
$breakpoint: 50em;

// Margins
$margin-small: 1rem;
$margin-medium: 2rem;
$margin-large: 3rem;

// Borders
$border-thin: 1px solid #cccccc;
$border-thick: 0.1rem solid;

// Padding 
$padding-smaller: .5rem;
$padding-small: 1rem;