@use 'config';
@use 'placeholders';
@use 'mixins';

body {
  @extend %grid;
  @extend %grid-gap;
  grid-template-rows: auto 1fr auto;
  font-family: config.$font-body;

  @media (min-width: config.$breakpoint) {
    max-width: 50rem;
    margin: 1rem auto;
  }

  @media (prefers-color-scheme: dark) {
    background-color: config.$bg-dark;
    color: config.$text-dark;
  }
}

main {
  @extend %grid;
  @extend %grid-gap;

  &>* {
    @extend %border;
    padding: 0 1rem;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(166,166,166,1);
-moz-box-shadow: 0px 0px 9px 0px rgba(166,166,166,1);
box-shadow: 0px 0px 9px 0px rgba(166,166,166,1);
  }

  // Fixes overflow issue with pre
  &>article {
    overflow-x: auto;
  }
}

#skiplink {
  @include mixins.visually-hidden;
}

#header-main,
#footer-main {
  @extend %text-center;
  @extend %border;
  @extend %text-center;
  padding: .5rem 0;
  -webkit-box-shadow: 0px 0px 9px 0px rgba(166,166,166,1);
-moz-box-shadow: 0px 0px 9px 0px rgba(166,166,166,1);
box-shadow: 0px 0px 9px 0px rgba(166,166,166,1);

  ul {
    @extend %list-flex;
    @extend %mg-none;
    @extend %justify-center;
    font-family: config.$font-monospace;
    gap: .5em 1em;
  }
}

#footer-main {
  @include mixins.intrinsic-size(50px, 300px);
}

.site-logo {
  @extend %hover-color;
  font-family: config.$font-display;
  font-size: 1.8rem;
  display: block;
  text-decoration: none;
}

article {
  @include mixins.intrinsic-size(800px, 300px);
}

// Also styles home post titles
h1,
.h1 {
  @extend %text-left;
  font-size: 2rem;
  border-bottom: none;
  padding-bottom: 0;
}

h2,
.h2 {
  @extend %text-right;
  @extend %border-bottom;
  font-size: 1.5rem;
  padding-bottom: .5rem;

  // Styles home post titles
  &>a {
    @extend %hover-color;
    text-decoration: none;
  }
}

// Also styles Archive titles
h3,
.h3 {
  @extend %text-left;
  border-bottom: none;
  padding-bottom: 0;
}

p {
  @media (min-width: config.$breakpoint) {
    hyphens: auto;
    text-align: justify;
  }
}

a {
  color: currentColor;
  text-decoration-thickness: 0.06em;
  text-underline-offset: 0.15em;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.list-page {
  @extend %list-unstyled;

  li {
    margin-bottom: 1.25rem;
  }
}

.deck {
  font-style: italic;
}

// Meta
.container-meta {
  @extend %meta;
}

.list-meta {
  @extend %list-flex;
  @extend %mg-none;
  @extend %gap-sm;
}

#tagcloud {
  @extend %list-meta;
  @extend %gap-norm;
  font-size: 1rem;
}

pre {
  @extend %mg-none;
  padding: 0 0.5em;
  overflow: auto;

  code {
    background-color: inherit;
  }
}

code {
  background-color: config.$grey-light;
  padding: 0 0.2em;
  border-radius: 0.2em;

  @media (prefers-color-scheme: dark) {
    background-color: config.$grey-dark;
  }
}