@use 'config';
@use 'placeholders';
@use 'mixins';

body {
  @include mixins.text(config.$font-body, 110%, config.$text-light);
  @extend %grid;
  @extend %pad-sm;
  grid-template-rows: auto 1fr auto;
  width: 95%;
  max-width: 800px;
  margin: 1rem auto;
  background-color: config.$bg-light;
  box-shadow: -1px 5px 35px -9px rgba(0,0,0,.2);

  @media (min-width: config.$breakpoint) {
    padding: 2rem;
  }
  
  @media (prefers-color-scheme: dark) {
    background-color: config.$bg-dark;
    color: config.$text-dark;
  }
}

main {
  // Eats up extra space
  @extend %flex-column;
  // Fixes overflow issue with pre
  overflow-x: auto;
}

#skiplink {
  @include mixins.visually-hidden;
}

.main-menu {
  @extend %border;
  @extend %text-center;
  padding: .5rem 0;

  ul {
    @extend %list-flex;
    @extend %mg-none;
    @extend %justify-center;
    font-family: config.$font-monospace;
    gap: .5em 1em;
  }
}

#footer-main {
  @include mixins.intrinsic-size(50px, 300px);
  text-align: right;

  ul {
    justify-content: flex-end;
  }

  .site-logo {
    margin-top: 0.2em;

    @media (min-width: config.$breakpoint) {
      margin-top: 0;
    }
  }
}

.site-logo {
  font-family: config.$font-display;
  font-size: 1.8rem;
  display: block;
  text-decoration: none;
}

article {
  @include mixins.intrinsic-size(800px, 300px);
  @extend %mg-btm-sm;
  // Pushes footer to bottom
  @extend %flex-grow-1;
}

h2,
.h2 {
  @include mixins.text(config.$font-display, 1.8em, inherit);

  // Style homepage post titles
  &>a {
    text-decoration: none;
  }

  &>a:hover {
    color: #1a95e0;
  }

  @media (min-width: config.$breakpoint) {
    font-size: 2.4em;
  }
}

h3,
.h3 {
  @include mixins.text(config.$font-display, 1.5em, inherit);
}

h4,
.h4 {
  @include mixins.text(config.$font-display, 1.25em, inherit);
}

p {
  @media (min-width: config.$breakpoint) {
    hyphens: auto;
    text-align: justify;
  }
}

a {
  color: currentColor;
  text-decoration-thickness: 0.06em;
  text-underline-offset: 0.15em;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  @media (prefers-color-scheme: dark) {
    color: config.$text-dark;
  }
}

.list-page {
  @extend %list-unstyled;

  li {
    margin-bottom: 1.25em;
  }
}

// Metadata
.meta {
  @extend %meta;

}

.list-meta {
  @extend %list-meta;
  @extend %mg-none;
  @extend %gap-sm;
}

#tagcloud {
  @extend %list-meta;
  @extend %gap-norm;
  font-size: 1rem;
}

blockquote {
  margin-inline-start: 2rem;
}

pre {
  @extend %mg-none;
  padding: 0 0.5em;
  overflow: auto;

  code {
    background-color: inherit;
  }
}

code {
  @include mixins.text(config.$font-monospace, .9em, inherit);
  padding: 0 0.2em;
  background-color: config.$grey-light;
  border-radius: 0.2em;

  @media (prefers-color-scheme: dark) {
    background-color: config.$grey-dark;
  }
}