@use 'config';

@mixin fonts($family, $style, $weight) {
    font-family: $family;
    font-display: swap;
    font-style: $style;
    font-weight: $weight;
}

@mixin text($family, $size, $color) {
    font-family: $family;
    font-size: $size;
    color: $color;
}

// https://web.dev/articles/content-visibility
@mixin intrinsic-size($height, $width) {
    content-visibility: auto;
    contain-intrinsic-size: auto $height auto $width;
}

// https://gomakethings.com/hidden-content-for-better-a11y/
@mixin visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    text-transform: uppercase;
    text-decoration: none;
    background-color: config.$grey-dark;
    color: config.$text-dark;
    padding: 1em 2em;

    &:active,
    &:focus {
        clip: auto;
        width: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        white-space: normal;
    }
}