@use 'config';
@use 'mixins';

// Margins
%mg-none {
    margin: 0;
}

%mg-btm-lg {
    margin-bottom: config.$margin-large;
}

// Lists
%list-unstyled {
    list-style: none;
    padding: 0;
}

%list-flex {
    @extend %list-unstyled;
    display: flex;
    flex-wrap: wrap;
}

// metadata
%meta {
    @include mixins.text(config.$font-monospace, .8em, config.$meta-light);
  
    @media (prefers-color-scheme: dark) {
      color: config.$meta-dark
    }
}

%list-meta{
    @extend %meta;
    @extend %list-flex;
}

// Flexbox
%gap-sm {
    gap: .5em;
}

%gap-norm {
    gap: 1em;
}