@use 'config';
@use 'mixins';

// Typography
%text-center {
    text-align: center;
}

%text-left {
    text-align: left;
}

%text-right {
    text-align: right;
}

%hover-color {
    &:hover {
        color: #1a95e0;

        @media (prefers-color-scheme: dark) {
            color: greenyellow;
        }
    }
}

// Margins
%mg-none {
    margin: 0;
}

%mg-sm {
    margin: 1rem;
}

%mg-btm-sm {
    margin-bottom: 1rem;
}

%mg-btm-lg {
    margin-bottom: 3rem;
}

%mg-top-sm {
    margin-top: config.$margin-small;
}

// Borders

%border {
    border: config.$border-thin;
}

%border-bottom {
    border-bottom: config.$border-thin;
}

// Padding
%padding-small {
    padding: 1rem;
}

// Lists
%list-unstyled {
    list-style: none;
    padding: 0;
}

%list-flex {
    @extend %list-unstyled;
    @extend %flex;
    flex-wrap: wrap;
}

// META
%meta {
    color: config.$meta-light;
    font-size: .8rem;
    color: #1a95e0;

    @media (prefers-color-scheme: dark) {
        color: greenyellow;
    }
}

%list-meta {
    @extend %meta;
    @extend %list-flex;
}

// Flexbox
%flex {
    display: flex;
}

%flex-column {
    display: flex;
    flex-direction: column;
}

%justify-center {
    justify-content: center;
}

%gap-sm {
    gap: .5em;
}

%gap-norm {
    gap: 1em;
}

// GRID
%grid {
    display: grid;
}

%grid-gap {
    gap: 1rem;
}