@use 'fonts';
@use 'reset';
@use 'config';
@use 'placeholders';
@use 'mixins';

body {
  @include mixins.text(config.$font-family-body, 110%, config.$text-light);
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: config.$bg-light;
  padding: .5em;
  max-width: 40em;

  @media (prefers-color-scheme: dark) {
    background-color: config.$bg-dark;
    color: config.$text-dark;
  }
}

main {
  overflow: auto;
}

#skiplink {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  text-decoration: none;

  &:focus {
    left: auto;
    width: auto;
    height: auto;
    overflow: visible;
    background-color: config.$light-grey;
    color: config.$text-dark;
    padding: 1em 2em;
    z-index: 1000;
    text-transform: uppercase;
  }
}

nav {
  ul {
    @include mixins.text(config.$font-family-monospace, .8em, inherit);
    @extend %list-flex;
    @extend %margin-none;
    gap: .5em 1em;
  }

  @media (min-width: config.$breakpoint) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

#header-main {
  @extend %margin-bottom-large;
}

#footer-main {
  @extend %defer-render;
  margin-top: config.$margin-small;
  padding-top: config.$padding-small;
  border-top: config.$border-thin;
  text-align: right;

  @media (min-width: config.$breakpoint) {
    padding-top: 0;
  }

  ul {
    justify-content: flex-end;
  }

  .site-logo {
    margin-top: 0.2em;

    @media (min-width: config.$breakpoint) {
      margin-top: 0;
    }
  }
}

.site-logo {
  @include mixins.text(config.$font-family-display, 1.8em, inherit);
  display: block;
  text-decoration: none;
}

.article-home {
  @extend %margin-bottom-large;
  @extend %defer-render;
}

// Also styles home page post titles
h1,
.h1 {
  @include mixins.text(config.$font-family-display, 3em, inherit);
  margin-top: 0;
  text-align: left;
  border: none;

  @media (min-width: config.$breakpoint) {
    font-size: 5em;
  }
}

h2,
.h2 {
  @include mixins.text(config.$font-family-display, 1.8em, inherit);
  text-align: right;
  border-bottom: config.$border-thin;

  // Style homepage post titles
  &>a {
    text-decoration: none;
  }

  @media (min-width: config.$breakpoint) {
    font-size: 2.4em;
  }
}

h3,
.h3 {
  @include mixins.text(config.$font-family-display, 1.5em, inherit);
}

h4,
.h4 {
  @include mixins.text(config.$font-family-display, 1.25em, inherit);
}

p {
  text-align: justify;
  hyphens: auto;
}

a {
  color: currentColor;
  text-decoration-thickness: 0.06em;
  text-underline-offset: 0.15em;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  @media (prefers-color-scheme: dark) {
    color: config.$text-dark;
  }
}

.list-page {
  @extend %list-unstyled;

  li {
    margin-bottom: 1.25em;
  }
}

// Metadata
.meta {
  @extend %meta;
  
}

.list-meta {
  @extend %list-meta;
  @extend %margin-none;
  @extend %gap-small;
}

#tagcloud {
  @extend %list-meta;
  @extend %gap-normal;
  font-size: 1rem;
}

blockquote {
  @extend %margin-none;
  padding-left: 0.75em;
  border-left: config.$border-thick;
}

pre {
  @extend %margin-none;
  padding: 0 0.5em;
  overflow: auto;

  code {
    background-color: inherit;
  }
}

code {
  @include mixins.text(config.$font-family-monospace, .9em, inherit);
  padding: 0 0.2em;
  background-color: config.$light-grey;
  border-radius: 0.2em;

  @media (prefers-color-scheme: dark) {
    background-color: config.$dark-grey;
  }
}