{{ define "main" }}
{{ .Content }}
{{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts") }}
{{ range $paginator.Pages }}
<article>
    <header class="header-page">
        {{ partial "date.html" . }}
        <h2 class="h1">
            <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        </h2>
        <div class="deck">{{ .Params.Deck }}</div>
        {{ partial "meta.html" . }}
    </header>
    {{ .Content }}
</article>
{{ end }}
<a class="link-more" href="{{ "posts/" | relURL }}">More >></a>
{{ end }}