{{/* For blog posts */}}

{{ define "main" }}
<article>
  <header class="header-page">
    {{ partial "date.html" . }}
    <h1>{{ .Title }}</h1>
    <div class="deck">{{ .Params.Deck }}</div>
    {{ partial "meta.html" . }}
  </header>
  {{ if .Params.toc }}
  <aside class="table-of-contents">
    <details>
      <summary>Table of Contents</summary>
      {{ .TableOfContents }}
    </details>
  </aside>
  {{ end }}
  {{ .Content }}
</article>

{{/* Prev and Next links */}}
{{ $posts := where .Site.RegularPages.ByWeight "Section" "posts" }}
{{ if or (.Prev) (.Next) }}
<nav class="postnav" aria-label="Pagination">
  {{ with $posts.Prev . }}
  <a class="link-prev" href="{{ .RelPermalink }}" rel="prev">
    <b>&lt;&lt; Previous</b>
  </a>
  {{ end }}
  {{ with $posts.Next . }}
  <a class="link-next" href="{{ .RelPermalink }}" rel="next"><b>Next >></b></a>
  {{ end }}
</nav>
{{ end }}
{{ end }}