html {
    box-sizing: border-box;
}

body {
    background: #fff;
    font-size: 1.4rem;
    line-height: 2rem;
}

.container--outer {
    box-shadow: none;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 60rem;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo__tagline {
    font-style: italic;
    font-weight: 400;
    font-size: 1rem;
}

.logo__title,
.logo__tagline {
    text-transform: capitalize;
    text-align: center;
    border: none;
}

.menu__list {
    background: transparent;
}

@media screen and (min-width: 767px) {
    .menu {
        border-bottom: none;
    }
}

article.list__item.post {
    padding: 0;
}

.post__lead {
font-size: 1.4rem;
}

.menu__list {
    justify-content: center;
    width: 95%;
    margin: 1rem auto;
    gap: 1.5rem;
}

.menu__item {
    border: 0;
}

.menu__item:hover {
    background: none;
}

.menu__item--active {
    background: none;
}

.menu__link {
    padding: .4rem .8rem;
    color: #333333;
}

.menu__link,
.btn {
    font-weight: 400;
    text-transform: capitalize;
}

.menu__link:hover {
    color: #666666;
}

.primary {
    padding-right: 5rem;
}

.list__title {
    font-size: 2rem;
}

/* Selects links below the header */
div.wrapper a:hover {
    text-decoration: underline;
}

div.primary a:not(.meta__link, .tags__link, .pager__link):hover {
    background-color: #d3d3d3;
}

div.wrapper .btn:hover {
    text-decoration: none;
}

.menu__item,
.btn {
    transition: background-color;
}

.tags {
    font-size: .75rem;
}

.widget__title {
    border-bottom: none;
    font-size: 1.2rem;
}

.widget__item {
    font-size: 1.2rem;
}

.widget-taglist__link {
    font-size: .75rem;
    margin: 4px;
}

.meta {
    border-top: 0;
    font-size: 1rem;
}

/* Dark Mode */

@media (prefers-color-scheme: dark) {
    body {
        background: #252526;
        color: #fff;
    }

    .header,
    .wrapper {
        background: #252526;
        color: #fff;
    }

    .logo__title,
    .menu__link,
    h1,
    h2,
    h3,
    h4,
    a {
        color: #fff;
    }

}