html {
    font-size: 20px;
}

.logo__title {
    font-size: 3.5rem;
}

h2.list__title {
    font-size: 1.5rem;
}

.post__title {
    font-size: 2rem;
}

article.list__item.post {
    padding: 0;
}

.logo__tagline {
    font-style: italic;
}

.menu__link {
    padding: .4rem .8rem;
}

.menu__link,
.btn {
    font-weight: 400;
}

div.wrapper a:hover {
    text-decoration: underline;
}

div.primary a:hover {
    background-color: #e0e0e0;
}

div.wrapper .btn:hover {
    text-decoration: none;
    background-color: #e22d30;
}

.menu__item,
.btn {
    transition: background-color;
}

.tags {
    font-size: 12px;
}

.meta {
    border-top: 0;
}