@font-face {
  src: url("/fonts/bebas-neue.woff2") format("woff2"), url("/fonts/bebas-neue.woff") format("woff");
  font-family: "Bebas Neue";
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  src: url("/fonts/oxygen-mono.woff2") format("woff2"), url("/fonts/oxygen-mono.woff") format("woff");
  font-family: "Oxygen Mono";
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  src: url("/fonts/lato.woff2") format("woff2"), url("/fonts/lato.woff") format("woff");
  font-family: "Lato";
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  src: url("/fonts/lato-italic.woff2") format("woff2"), url("/fonts/lato-italic.woff") format("woff");
  font-family: "Lato";
  font-display: swap;
  font-style: italic;
  font-weight: normal;
}
@font-face {
  src: url("/fonts/lato-bold.woff2") format("woff2"), url("/fonts/lato-bold.woff") format("woff");
  font-family: "Lato";
  font-display: swap;
  font-style: normal;
  font-weight: bold;
}
@font-face {
  src: url("/fonts/lato-bold-italic.woff2") format("woff2"), url("/fonts/lato-bold-italic.woff") format("woff");
  font-family: "Lato";
  font-display: swap;
  font-style: italic;
  font-weight: bold;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  height: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
  overflow-y: auto;
}

h1,
h2,
h3,
h4 {
  margin-block-end: 0;
  text-wrap: balance;
  line-height: 1;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  margin: 0 auto;
  font-weight: 400;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
}

b,
strong {
  font-weight: bolder;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 1rem;
}

nav ul, .list-meta, blockquote, pre {
  margin: 0;
}

#header-main, .article-home {
  margin-bottom: 3em;
}

.list-page, nav ul, .list-meta, #tagcloud {
  list-style: none;
  padding: 0;
}

nav ul, .list-meta, #tagcloud {
  display: flex;
  flex-wrap: wrap;
}

.meta, .list-meta, #tagcloud {
  font-family: "Oxygen Mono", monospace;
  font-size: 0.8em;
  color: #647382;
}
@media (prefers-color-scheme: dark) {
  .meta, .list-meta, #tagcloud {
    color: #d4d9dd;
  }
}

.list-meta {
  gap: 0.5em;
}

#tagcloud {
  gap: 1em;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 110%;
  color: #252526;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #ffffff;
  padding: 0.5em;
  max-width: 40em;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #252526;
    color: #f9f9f9;
  }
}

main {
  overflow-x: auto;
}

#skiplink {
  border: 0;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #808080;
  color: #f9f9f9;
  padding: 1em 2em;
}
#skiplink:active, #skiplink:focus {
  clip: auto;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: normal;
}

nav ul {
  font-family: "Oxygen Mono", monospace;
  font-size: 0.8em;
  color: inherit;
  gap: 0.5em 1em;
}
@media (min-width: 50em) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

#footer-main {
  content-visibility: auto;
  contain-intrinsic-size: auto 50px auto 300px;
  margin-top: 1em;
  padding-top: 1em;
  border-top: 0.01rem solid;
  text-align: right;
}
@media (min-width: 50em) {
  #footer-main {
    padding-top: 0;
  }
}
#footer-main ul {
  justify-content: flex-end;
}
#footer-main .site-logo {
  margin-top: 0.2em;
}
@media (min-width: 50em) {
  #footer-main .site-logo {
    margin-top: 0;
  }
}

.site-logo {
  font-family: "Bebas Neue", Impact, "Arial Narrow", sans-serif;
  font-size: 1.8em;
  color: inherit;
  display: block;
  text-decoration: none;
}

article {
  content-visibility: auto;
  contain-intrinsic-size: auto 800px auto 300px;
}

h1,
.h1 {
  font-family: "Bebas Neue", Impact, "Arial Narrow", sans-serif;
  font-size: 3em;
  color: inherit;
  margin-top: 0;
  text-align: left;
  border: none;
}
@media (min-width: 50em) {
  h1,
  .h1 {
    font-size: 5em;
  }
}

h2,
.h2 {
  font-family: "Bebas Neue", Impact, "Arial Narrow", sans-serif;
  font-size: 1.8em;
  color: inherit;
  text-align: right;
  border-bottom: 0.01rem solid;
}
h2 > a,
.h2 > a {
  text-decoration: none;
}
@media (min-width: 50em) {
  h2,
  .h2 {
    font-size: 2.4em;
  }
}

h3,
.h3 {
  font-family: "Bebas Neue", Impact, "Arial Narrow", sans-serif;
  font-size: 1.5em;
  color: inherit;
}

h4,
.h4 {
  font-family: "Bebas Neue", Impact, "Arial Narrow", sans-serif;
  font-size: 1.25em;
  color: inherit;
}

@media (min-width: 50em) {
  p {
    hyphens: auto;
    text-align: justify;
  }
}

a {
  color: currentColor;
  text-decoration-thickness: 0.06em;
  text-underline-offset: 0.15em;
}
a:hover, a:focus {
  text-decoration: none;
}
@media (prefers-color-scheme: dark) {
  a {
    color: #f9f9f9;
  }
}

.list-page li {
  margin-bottom: 1.25em;
}

#tagcloud {
  font-size: 1rem;
}

blockquote {
  padding-left: 0.75em;
  border-left: 0.1rem solid;
}

pre {
  padding: 0 0.5em;
  overflow: auto;
}
pre code {
  background-color: inherit;
}

code {
  font-family: "Oxygen Mono", monospace;
  font-size: 0.9em;
  color: inherit;
  padding: 0 0.2em;
  background-color: #d4d9dd;
  border-radius: 0.2em;
}
@media (prefers-color-scheme: dark) {
  code {
    background-color: #808080;
  }
}

/*# sourceMappingURL=main.css.map */
