/* Base Styles */

@font-face {
  font-family: Lato;
  src:
    url('/fonts/lato.woff2') format('woff2'),
    url('/fonts/lato.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: Bebas Neue;
  src:
    url('/fonts/bebas-neue.woff2') format('woff2'),
    url('/fonts/bebas-neue.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: Oxygen Mono;
  src:
    url('/fonts/oxygen-mono.woff2') format('woff2'),
    url('/fonts/oxygen-mono.woff') format('woff');
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: Lato, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0 auto;
  padding: .5rem;
  display: flex;
  flex-direction: column;
}

/* Links */

a {
  color: #000;
}

a:hover {
  text-decoration: none;
}

/* Skip Link */

.skip-link {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  text-decoration: none;
}

.skip-link:focus {
  left: auto;
  width: auto;
  height: auto;
  overflow: visible;
  background-color: #808080;
  color: #fff;
  padding: 1em 2em;
  z-index: 1000;
  text-transform: uppercase;
}

/* Site header and footer */

.site-header,
.site-footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.site-footer {
  padding-top: .5rem;
  padding-bottom: 1rem;
  border-top: .1rem solid;
  align-items: flex-end;
}

/* Site Logo */

.logo {
  font-family: Bebas Neue, sans-serif;
  font-size: 2rem;
  text-decoration: none;
}

/* Menus */

nav ul {
  font-family: Oxygen Mono, monospace;
  font-size: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.site-footer-menu ul {
  justify-content: flex-end;
}

/* Main Content */

main {
  flex: 1;
  /* Pushes .site-footer to bottom */
  line-height: 1.5;
}

/* Headers */

h1,
h2,
h3,
h4 {
  line-height: 1;
  font-family: Bebas Neue, sans-serif;
}

h1,
.post-title-home {
  font-size: 4rem;
}

h1,
h2,
.post-title-home {
  margin-bottom: 0;
}

h2 {
  font-size: 2.5rem;
  border-bottom: .1rem solid;
}

h3 {
  font-size: 1.75rem;
}

.post-title-home {
  border-bottom: none;
}

.post-title-home a {
  text-decoration: none;
}

/* Metadata */

.meta {
  font-family: monospace;
  font-size: 1rem;
}

.meta-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: .5em
}

/* Taxonomy Pages */

.tax-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Desktop */

@media (min-width: 696px) {
  body {
    text-align: justify;
    max-width: 50rem;
  }

  .site-header,
  .site-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  h1,
  .post-title-home {
    font-size: 6rem;
    text-align: left;
  }
}

/* Dark Mode */

@media (prefers-color-scheme: dark) {
  body {
    background: #252526;
    color: #fff;
  }

  a {
    color: #fff;
  }
}