*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  height: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
  overflow-y: auto;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
  line-height: 1.1;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-weight: 400;
}

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
}

b,
strong {
  font-weight: bolder;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

:target {
  scroll-margin-block: 1rem;
}

pre, code {
  font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas, "DejaVu Sans Mono", monospace;
}

#header-main,
#footer-main {
  text-align: center;
}

h1,
.h1, .list-page-title {
  text-align: left;
}

h2,
.h2 {
  text-align: right;
}

.container-meta, .tagcloud, .site-logo:hover, h2 > a:hover,
.h2 > a:hover {
  color: #184DC9;
}
@media (prefers-color-scheme: dark) {
  .container-meta, .tagcloud, .site-logo:hover, h2 > a:hover,
  .h2 > a:hover {
    color: greenyellow;
  }
}

#header-main ul,
#footer-main ul, h1,
.h1, .list-page-title, .list-meta, pre {
  margin: 0;
}

.page-header {
  margin-bottom: 1rem;
}

h2,
.h2 {
  margin-top: 3rem;
}

main > *, #header-main,
#footer-main {
  border: 1px solid;
}

h2,
.h2 {
  border-bottom: 1px solid;
}

main > * {
  padding: 1rem;
}

main > article, pre {
  overflow: auto;
}

.list-page, #header-main ul,
#footer-main ul, .list-meta, .tagcloud {
  list-style: none;
  padding: 0;
}

#header-main ul,
#footer-main ul, .list-meta, .tagcloud {
  flex-wrap: wrap;
}

.container-meta, .tagcloud {
  font-size: 0.8rem;
}

#header-main ul,
#footer-main ul, .list-meta, .tagcloud {
  display: flex;
}

#header-main ul,
#footer-main ul {
  justify-content: center;
}

.list-meta {
  gap: 0.5em;
}

.tagcloud {
  gap: 1em;
}

body, main {
  display: grid;
}

body, main {
  gap: 1rem;
}

body {
  grid-template-rows: auto 1fr auto;
  font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas, "DejaVu Sans Mono", monospace;
}
@media (min-width: 50em) {
  body {
    max-width: 50rem;
    margin: 1rem auto;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
}

#skiplink {
  border: 0;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #d4d9dd;
  color: white;
  padding: 1em 2em;
}
#skiplink:active, #skiplink:focus {
  clip: auto;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: normal;
}

#header-main,
#footer-main {
  padding: 1rem 0;
}
#header-main ul,
#footer-main ul {
  font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas, "DejaVu Sans Mono", monospace;
  gap: 0.5em 1em;
}

#footer-main {
  content-visibility: auto;
  contain-intrinsic-size: auto 50px auto 300px;
}

.site-logo {
  font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas, "DejaVu Sans Mono", monospace;
  font-size: 1.8rem;
  display: block;
  text-decoration: none;
}

article {
  content-visibility: auto;
  contain-intrinsic-size: auto 800px auto 300px;
}

h1,
.h1 {
  font-size: 2rem;
  border-bottom: none;
  padding-bottom: 0;
}

h2,
.h2 {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}
h2 > a,
.h2 > a {
  text-decoration: none;
}

@media (min-width: 50em) {
  p {
    hyphens: auto;
    text-align: justify;
  }
}

a {
  color: currentColor;
  text-decoration-thickness: 0.06em;
  text-underline-offset: 0.15em;
}
a:hover, a:focus {
  text-decoration: none;
}

.list-page-item {
  margin-bottom: 1.25rem;
}

.list-page-title {
  border-bottom: none;
  padding-bottom: 0;
}

.deck {
  font-style: italic;
  margin: 0.2rem auto;
}

.tagcloud {
  font-size: 1rem;
}

.date {
  font-size: 0.8rem;
  color: #575757;
}
@media (prefers-color-scheme: dark) {
  .date {
    color: #d4d9dd;
  }
}

pre {
  padding: 0 0.5em;
}
pre code {
  background-color: inherit;
}

code {
  background-color: #d4d9dd;
  padding: 0 0.2em;
  border-radius: 0.2em;
}
@media (prefers-color-scheme: dark) {
  code {
    background-color: #575757;
  }
}

/*# sourceMappingURL=styles.css.map */
