// Fonts
$font-web-body: 'Lato';
$font-web-display: 'Bebas Neue';
$font-web-monospace: 'Oxygen Mono';

$font-family-body: 'Lato',
sans-serif;
$font-family-display: 'Bebas Neue',
Impact,
'Arial Narrow',
sans-serif;
$font-family-monospace: 'Oxygen Mono',
monospace;

// Colors
$bg-light: #ffffff;
$text-light: #252526;
$bg-dark: #252526;
$text-dark: #f9f9f9;
$meta-light: #647382;
$meta-dark: #d4d9dd;
$light-grey: #d4d9dd;
$dark-grey: #808080;

// Breakpoints
$breakpoint: 50em;

// Margins
$margin-small: 1em;
$margin-large: 3em;

// Borders
$border-thin: 0.01rem solid;
$border-thick: 0.1rem solid;

// Padding 
$padding-small: 1em;