@use 'config';

// Margins
.margin-top-small {
    margin-top: config.$margin-small;
}

.margin-top-large {
    margin-top: config.$margin-large;;
}

.margin-bottom-large {
    margin-bottom: config.$margin-large;
}

// Borders
.border-none {
    border: none;
}

.border-top-thin {
    border-top: config.$border-thin;
}

// Padding
.padding-top-small {
    padding-top: config.$padding-small;
}

// Flexbox
.gap-small {
    gap: .5em;
}

.gap-normal {
    gap: 1em;
}