// FONTS
// https://modernfontstacks.com/
$font-monospace: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
$font-body: $font-monospace;
$font-display: $font-monospace;

// Colors
$bg-light: white;
$bg-dark: black;
$text-light: black;
$text-dark: white;
$accent-light: #184DC9;
$accent-dark: greenyellow;
$accent-second-light: #575757;
$accent-second-dark: #d4d9dd;

// Breakpoints
$breakpoint: 50em;

// Margins
$margin-small: 1rem;
$margin-medium: 2rem;
$margin-large: 3rem;

// Borders
$border-thin: 1px solid;

// Padding 
$padding-smaller: .5rem;
$padding-small: 1rem;