@use 'config';
@use 'mixins';

// Typography
%font-monospace {
    font-family: config.$font-monospace;
}

%text-center {
    text-align: center;
}

%text-left {
    text-align: left;
}

%text-right {
    text-align: right;
}

%no-decor {
    text-decoration: none;
}

%accent {
    color: config.$accent-light;

    @media (prefers-color-scheme: dark) {
        color: config.$accent-dark;
    }

}

%hover-color {
    &:hover {
        @extend %accent;
    }
}

// Margins
%mg-none {
    margin: 0;
}

%mg-sm {
    margin: 1rem;
}

%mg-btm-sm {
    margin-bottom: 1rem;
}

%mg-btm-lg {
    margin-bottom: 3rem;
}

%mg-top-sm {
    margin-top: config.$margin-small;
}

%mg-top-lg {
    margin-top: 3rem;
}

// Borders

%border {
    border: config.$border-thin;
}

%border-bottom {
    border-bottom: config.$border-thin;
}

// Padding
%padding-small {
    padding: 1rem;
}

// Overflow
%overflow-auto {
    overflow: auto;
}

// Lists
%list-unstyled {
    list-style: none;
    padding: 0;
}

%list-flex {
    @extend %list-unstyled;
    @extend %flex;
    flex-wrap: wrap;
}

// Meta
%meta {
    @extend %accent;
    font-size: .8rem;
}

%list-meta {
    @extend %meta;
    @extend %list-flex;
}

// Flexbox
%flex {
    display: flex;
}

%flex-column {
    display: flex;
    flex-direction: column;
}

%justify-center {
    justify-content: center;
}

%gap-sm {
    gap: .5em;
}

%gap-norm {
    gap: 1em;
}

// Grid
%grid {
    display: grid;
}

%grid-gap {
    gap: 1rem;
}