{{ define "main" }}
{{ .Content }}
{{ range where site.RegularPages "Type" "posts" }}
<article>
    <header class="page-header">
        {{ partial "date.html" . }}
        <h2 class="h1">
            <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        </h2>
        <div class="deck">{{ .Params.Deck }}</div>
        {{ partial "meta.html" . }}
    </header>
    {{ .Content }}
</article>
{{ end }}
{{ end }}

{{/*  {{ define "main" }}
{{ .Content }}
{{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts") }}
{{ range $paginator.Pages }}
<article>
    <header class="header-page">
        {{ partial "date.html" . }}
        <h2 class="h1">
            <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        </h2>
        <div class="deck">{{ .Params.Deck }}</div>
        {{ partial "meta.html" . }}
    </header>
    {{ .Content }}
</article>
{{ end }}
{{ template "_internal/pagination.html" $paginator }}
{{ end }}  */}}