<!--
  - Instructions: https://evilmartians.com/chronicles/how-to-favicon-in-2021-six-files-that-fit-most-needs
  - SVG generator: https://formito.com/tools/favicon
  - Optimize with SVGO: https://github.com/svg/svgo
  - Compress images with Squoosh: https://squoosh.app/
-->
<link rel="icon" type="image/svg+xml" href="/favicon/icon.svg" />
<link rel="icon" sizes="any" href="/favicon/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
<link rel="manifest" href="/favicon/site.webmanifest">