<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
  {{ partial "head.html" . }}
</head>

<body>
  <a href="#main-content" class="skiplink">Skip to Content</a>
  <header class="flex-column">
    {{ partial "header.html" . }}
  </header>
  <main id="main-content">
    {{ block "main" . }}
    {{ end }}
  </main>
  <footer class="site-footer">
    {{ partial "footer.html" . }}
  </footer>
  <!--  <script>
    if (navigator && navigator.serviceWorker) {
      navigator.serviceWorker.register('/offline.js');
    }
  </script>  -->
</body>

</html>