<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
<meta name="description"
    content="{{ if .IsHome }}{{ site.Params.description }}{{ else }}{{ .Params.Description }}{{ end }}">
<link rel="shortcut icon" href="{{ "favicon.ico" | relURL }}">
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
<!-- Google analytics and site verification -->
{{ template "_internal/google_analytics.html" . }}
<meta name="google-site-verification" content="OaJ3DtSybELB_anSuVk_s4sjGAiVanwRBDeeWqI2onU">