<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
{{/*  <link rel="preload" href="/fonts/lato.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/bebas-neue.woff2" as="font" type="font/woff2" crossorigin>  */}}
<meta name="author" content="Sam Feldstein">
<meta name="description"
  content="{{ if .IsHome }}{{ site.Params.description }}{{ else }}{{ .Params.Description }}{{ end }}">
<!-- Icons -->
{{ partialCached "head/icons.html" . }}
<!-- RSS -->
{{ with .OutputFormats.Get "rss" -}}
{{ printf `
<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
{{ end }}
<!-- Stylesheets -->
{{ partialCached "head/css.html" . }}
<!-- Scripts -->
{{ partialCached "head/js.html" . }}
<!-- Google site verification -->
<meta name="google-site-verification" content="OaJ3DtSybELB_anSuVk_s4sjGAiVanwRBDeeWqI2onU">